#JAVA 
name: CI for java calculator

on:
  push:
    branches:
      - main

jobs: 
  build: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JAVA
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          
      - name: Install Xvfb
        run: sudo apt-get install -y xvfb

      - name: Run tests with virtual display
        run: xvfb-run mvn clean test

      - name: Build package 
        run: mvn clean package -DskipTests

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with: 
          name: build-artifact
          path: target/*.jar
        
